/* styling the form*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
} 

form {
    margin: auto;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    padding: 30px;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

legend {
    font-weight: bold;
    text-align: left;
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 3px solid black;
    border-radius: 7px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px black;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: black;
}

#resume-display {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px black;
    /* for making resume editable */
    outline: none;
}

#resume-display h2 {
    color: black;
}
